In [21]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import numpy as np
import pandas as pd

In [22]:
## load the ANN Trained Model, scaler and onehot encoder pickle files
model = load_model('model.h5')

with open('lable_encoder_gender.pkl','rb') as file:
    lable_encoder_gender = pickle.load(file)
    
with open('one_hot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [23]:
## Example input data

input_data = {
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 50000
}

In [24]:
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

/Users/vaibhavkale/Desktop/DL_Projects/ANN_Classification/venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [25]:
input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [26]:
## combine one hot encoded columns with the inout data
input_data = pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)

In [27]:
input_data

   CreditScore Geography  ... Geography_Germany  Geography_Spain
0          600    France  ...               0.0              0.0

[1 rows x 13 columns]

In [ ]:
## Encode Categorical Variables
input_data = input_data.drop('Geography',axis=1)

In [29]:
input_data.head()

   CreditScore Gender  ...  Geography_Germany  Geography_Spain
0          600   Male  ...                0.0              0.0

[1 rows x 12 columns]

In [31]:
input_data['Gender'] = lable_encoder_gender.transform(input_data['Gender'])

In [32]:
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [33]:
## scaling the input data
input_scaled = scaler.transform(input_data)

/Users/vaibhavkale/Desktop/DL_Projects/ANN_Classification/venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [34]:
## Predict Churn
prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 108ms/step

array([[0.0154427]], dtype=float32)

In [36]:
pred = prediction[0][0]

In [37]:
if pred > 0.5:
    print("The person is likely Churn")
else:
    print("The Person is not going to churn")

The Person is not going to churn