In [1]:
import pickle 
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
data = data.drop(columns=['RowNumber','CustomerId','Surname'],axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [4]:
## Lable Encoding Categorical varaibles
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
lable_encoder_gender = LabelEncoder()
data['Gender'] = lable_encoder_gender.fit_transform(data['Gender'])

In [5]:
## One Hot Encoding of Geography
one_hot_encoder = OneHotEncoder(handle_unknown='ignore')
geo_encoded = one_hot_encoder.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [7]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [8]:
## split the data into features and target
x = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
# with open('lable_encoder_gender.pkl','wb') as file:
#     pickle.dump(lable_encoder_gender,file)

# with open('one_hot_encoder_geo.pkl','wb') as file:
#     pickle.dump(one_hot_encoder,file)
    
# with open('scaler.pkl','wb') as file:
#     pickle.dump(scaler,file)

## save all the pickle files

## ANN Regression Problem Statement

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
## build our ANN Model
model = Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)), ## HL1 Connected to input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1) ## Output layer
])

In [14]:
## Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

## Set Up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [18]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [19]:
## train The Model
history = model.fit(
    x_train,y_train,
    validation_data=(x_test,y_test),
    epochs = 100,
    callbacks = [early_stopping_callback,tensorflow_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 100386.6094 - mae: 100386.6094 - val_loss: 98549.2266 - val_mae: 98549.2266
Epoch 2/100
250/250 [==============================] - 0s 718us/step - loss: 99733.1172 - mae: 99733.1172 - val_loss: 97202.4609 - val_mae: 97202.4609
Epoch 3/100
250/250 [==============================] - 0s 669us/step - loss: 97343.0703 - mae: 97343.0703 - val_loss: 93658.6484 - val_mae: 93658.6484
Epoch 4/100
250/250 [==============================] - 0s 647us/step - loss: 92577.5703 - mae: 92577.5703 - val_loss: 87660.6250 - val_mae: 87660.6250
Epoch 5/100
250/250 [==============================] - 0s 659us/step - loss: 85520.3906 - mae: 85520.3906 - val_loss: 79755.0000 - val_mae: 79755.0000
Epoch 6/100
250/250 [==============================] - 0s 764us/step - loss: 76971.3359 - mae: 76971.3359 - val_loss: 71136.2734 - val_mae: 71136.2734
Epoch 7/100
250/250 [==============================] - 0s 675us/step - loss: 68367.3047 - mae: 68367.3047 - val_loss: 63373.1523 - val_mae: 63373.1523
Epoch 8/100
250/250 [==============================] - 0s 753us/step - loss: 61105.7617 - mae: 61105.7617 - val_loss: 57465.7227 - val_mae: 57465.7227
Epoch 9/100
250/250 [==============================] - 0s 654us/step - loss: 56103.8477 - mae: 56103.8477 - val_loss: 53798.3789 - val_mae: 53798.3789
Epoch 10/100
250/250 [==============================] - 0s 616us/step - loss: 53125.8125 - mae: 53125.8125 - val_loss: 51898.7891 - val_mae: 51898.7891
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51636.0234 - mae: 51636.0234 - val_loss: 51194.1523 - val_mae: 51194.1523
Epoch 12/100
250/250 [==============================] - 0s 617us/step - loss: 50983.0859 - mae: 50983.0859 - val_loss: 50941.0312 - val_mae: 50941.0312
Epoch 13/100
250/250 [==============================] - 0s 854us/step - loss: 50688.2070 - mae: 50688.2070 - val_loss: 50844.9961 - val_mae: 50844.9961
Epoch 14/100
250/250 [==============================] - 0s 747us/step - loss: 50528.2109 - mae: 50528.2109 - val_loss: 50783.7383 - val_mae: 50783.7383
Epoch 15/100
250/250 [==============================] - 0s 708us/step - loss: 50418.0352 - mae: 50418.0352 - val_loss: 50730.3984 - val_mae: 50730.3984
Epoch 16/100
250/250 [==============================] - 0s 689us/step - loss: 50330.5781 - mae: 50330.5781 - val_loss: 50680.6328 - val_mae: 50680.6328
Epoch 17/100
250/250 [==============================] - 0s 638us/step - loss: 50262.9453 - mae: 50262.9453 - val_loss: 50637.4453 - val_mae: 50637.4453
Epoch 18/100
250/250 [==============================] - 0s 644us/step - loss: 50199.5938 - mae: 50199.5938 - val_loss: 50609.2812 - val_mae: 50609.2812
Epoch 19/100
250/250 [==============================] - 0s 682us/step - loss: 50144.9023 - mae: 50144.9023 - val_loss: 50572.4570 - val_mae: 50572.4570
Epoch 20/100
250/250 [==============================] - 0s 657us/step - loss: 50093.6641 - mae: 50093.6641 - val_loss: 50545.1758 - val_mae: 50545.1758
Epoch 21/100
250/250 [==============================] - 0s 662us/step - loss: 50045.6992 - mae: 50045.6992 - val_loss: 50517.5703 - val_mae: 50517.5703
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 50004.1680 - mae: 50004.1680 - val_loss: 50490.9922 - val_mae: 50490.9922
Epoch 23/100
250/250 [==============================] - 0s 760us/step - loss: 49965.5586 - mae: 49965.5586 - val_loss: 50472.3672 - val_mae: 50472.3672
Epoch 24/100
250/250 [==============================] - 0s 666us/step - loss: 49933.2148 - mae: 49933.2148 - val_loss: 50457.1797 - val_mae: 50457.1797
Epoch 25/100
250/250 [==============================] - 0s 665us/step - loss: 49897.9531 - mae: 49897.9531 - val_loss: 50429.2656 - val_mae: 50429.2656
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49871.6992 - mae: 49871.6992 - val_loss: 50423.9141 - val_mae: 50423.9141
Epoch 27/100
250/250 [==============================] - 0s 705us/step - loss: 49841.5742 - mae: 49841.5742 - val_loss: 50410.9922 - val_mae: 50410.9922
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49814.9336 - mae: 49814.9336 - val_loss: 50383.7578 - val_mae: 50383.7578
Epoch 29/100
250/250 [==============================] - 0s 747us/step - loss: 49793.5391 - mae: 49793.5391 - val_loss: 50368.0781 - val_mae: 50368.0781
Epoch 30/100
250/250 [==============================] - 0s 780us/step - loss: 49768.7891 - mae: 49768.7891 - val_loss: 50360.8906 - val_mae: 50360.8906
Epoch 31/100
250/250 [==============================] - 0s 658us/step - loss: 49751.0156 - mae: 49751.0156 - val_loss: 50354.4961 - val_mae: 50354.4961
Epoch 32/100
250/250 [==============================] - 0s 787us/step - loss: 49728.3359 - mae: 49728.3359 - val_loss: 50349.1992 - val_mae: 50349.1992
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49713.6250 - mae: 49713.6250 - val_loss: 50345.9219 - val_mae: 50345.9219
Epoch 34/100
250/250 [==============================] - 0s 616us/step - loss: 49695.2305 - mae: 49695.2305 - val_loss: 50341.6484 - val_mae: 50341.6484
Epoch 35/100
250/250 [==============================] - 0s 807us/step - loss: 49679.3516 - mae: 49679.3516 - val_loss: 50332.2344 - val_mae: 50332.2344
Epoch 36/100
250/250 [==============================] - 0s 674us/step - loss: 49663.1680 - mae: 49663.1680 - val_loss: 50325.4570 - val_mae: 50325.4570
Epoch 37/100
250/250 [==============================] - 0s 639us/step - loss: 49648.1719 - mae: 49648.1719 - val_loss: 50309.2734 - val_mae: 50309.2734
Epoch 38/100
250/250 [==============================] - 0s 624us/step - loss: 49634.2812 - mae: 49634.2812 - val_loss: 50316.0625 - val_mae: 50316.0625
Epoch 39/100
250/250 [==============================] - 0s 639us/step - loss: 49619.5312 - mae: 49619.5312 - val_loss: 50297.7109 - val_mae: 50297.7109
Epoch 40/100
250/250 [==============================] - 0s 651us/step - loss: 49605.4766 - mae: 49605.4766 - val_loss: 50294.0156 - val_mae: 50294.0156
Epoch 41/100
250/250 [==============================] - 0s 625us/step - loss: 49592.0039 - mae: 49592.0039 - val_loss: 50287.6836 - val_mae: 50287.6836
Epoch 42/100
250/250 [==============================] - 0s 677us/step - loss: 49579.4453 - mae: 49579.4453 - val_loss: 50296.0859 - val_mae: 50296.0859
Epoch 43/100
250/250 [==============================] - 0s 644us/step - loss: 49567.6133 - mae: 49567.6133 - val_loss: 50290.7031 - val_mae: 50290.7031
Epoch 44/100
250/250 [==============================] - 0s 624us/step - loss: 49556.1719 - mae: 49556.1719 - val_loss: 50282.3594 - val_mae: 50282.3594
Epoch 45/100
250/250 [==============================] - 0s 773us/step - loss: 49545.4922 - mae: 49545.4922 - val_loss: 50281.9258 - val_mae: 50281.9258
Epoch 46/100
250/250 [==============================] - 0s 666us/step - loss: 49533.8047 - mae: 49533.8047 - val_loss: 50288.2188 - val_mae: 50288.2188
Epoch 47/100
250/250 [==============================] - 0s 632us/step - loss: 49523.2617 - mae: 49523.2617 - val_loss: 50280.4492 - val_mae: 50280.4492
Epoch 48/100
250/250 [==============================] - 0s 649us/step - loss: 49516.3711 - mae: 49516.3711 - val_loss: 50280.7109 - val_mae: 50280.7109
Epoch 49/100
250/250 [==============================] - 0s 646us/step - loss: 49505.9961 - mae: 49505.9961 - val_loss: 50274.1836 - val_mae: 50274.1836
Epoch 50/100
250/250 [==============================] - 0s 622us/step - loss: 49497.0234 - mae: 49497.0234 - val_loss: 50270.9531 - val_mae: 50270.9531
Epoch 51/100
250/250 [==============================] - 0s 654us/step - loss: 49489.6562 - mae: 49489.6562 - val_loss: 50275.2617 - val_mae: 50275.2617
Epoch 52/100
250/250 [==============================] - 0s 604us/step - loss: 49481.4844 - mae: 49481.4844 - val_loss: 50285.6797 - val_mae: 50285.6797
Epoch 53/100
250/250 [==============================] - 0s 744us/step - loss: 49475.2266 - mae: 49475.2266 - val_loss: 50294.1406 - val_mae: 50294.1406
Epoch 54/100
250/250 [==============================] - 0s 613us/step - loss: 49464.3906 - mae: 49464.3906 - val_loss: 50280.2969 - val_mae: 50280.2969
Epoch 55/100
250/250 [==============================] - 0s 606us/step - loss: 49458.5273 - mae: 49458.5273 - val_loss: 50283.6289 - val_mae: 50283.6289
Epoch 56/100
250/250 [==============================] - 0s 602us/step - loss: 49454.3789 - mae: 49454.3789 - val_loss: 50280.0195 - val_mae: 50280.0195
Epoch 57/100
250/250 [==============================] - 0s 597us/step - loss: 49445.3398 - mae: 49445.3398 - val_loss: 50281.6250 - val_mae: 50281.6250
Epoch 58/100
250/250 [==============================] - 0s 611us/step - loss: 49440.2891 - mae: 49440.2891 - val_loss: 50279.8750 - val_mae: 50279.8750
Epoch 59/100
250/250 [==============================] - 0s 601us/step - loss: 49435.2812 - mae: 49435.2812 - val_loss: 50279.8672 - val_mae: 50279.8672
Epoch 60/100
250/250 [==============================] - 0s 612us/step - loss: 49427.6445 - mae: 49427.6445 - val_loss: 50281.4102 - val_mae: 50281.4102

In [20]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit/20250522-211628

Reusing TensorBoard on port 6007 (pid 36514), started 0:00:03 ago. (Use '!kill 36514' to kill it.)

In [25]:
## evaluate model on the test data
test_loss, test_mae = model.evaluate(x_test,y_test)
print(f"test MAE : {test_mae}")

63/63 [==============================] - 0s 395us/step - loss: 50270.9531 - mae: 50270.9531
test MAE : 50270.953125

In [26]:
model.save('regression_model.h5')

/Users/vaibhavkale/Desktop/DL_Projects/ANN_Classification/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(